.header-title {
  @extend %font-prim;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  height: 3rem;
  font-size: 1.4rem;
  line-height: 1.2rem;
  border-radius: 4px;
  background: $color-hovered;
  border-color: $color-hovered;
  border: 1px solid $color-border;
  color: $color-text;
  text-align: center;

  & > * {
    flex-basis: 12rem;
  }
}

.line {
  @extend %font-prim;
  display: flex;
  justify-content: space-evenly;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4rem;
  align-items: center;
  text-align: center;

  & > * {
    flex-basis: 12rem;
  }
}

.winners {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.table-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.car-winner {
  width: 11rem;
  height: 3.5rem;
}

.header-title__contain {
  cursor: default;
}

.contain-wins-text {
  position: relative;
  cursor: pointer;
}

.contain-best-time {
  position: relative;
  line-height: 1.4rem;
  cursor: pointer;
}

.ASC {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
  &:after {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    content: '';
  }
}

.DESC {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
  &:after {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    content: '';
  }
}
